# SQL
<br>
Objectif : Réaliser des requêtes SQL claires et facilement compréhensibles.

**1. Les données**
Nous avons les tables suivantes :

**TRANSACTIONS**<br>
Cette table contient des données transactionnelles avec les infos suivantes :<br><br>
• `date` : date à laquelle la commande a été passée<br>
• `order_id` : identifiant unique de la commande<br>
• `client_id` : identifiant unique du client<br>
• `prod_id` : identifiant unique du produit acheté<br>
• `prod_price` : prix unitaire du produit<br>
• `prod_qty` : quantité de produit achetée

**PRODUCT_NOMENCLATURE**<br>
Cette table contient le référentiel produit c’est à dire les méta-données du produit. On y trouve les infos suivantes :<br><br>
• `product_id` : identifiant unique du produit<br>
• `product_type` : type de produit (DECO ou MEUBLE)<br>
• `product_name` : le nom du produit<br>

## Part 1
<br>
Je vous propose de commencer par réaliser une requête SQL simple permettant de trouver le chiffre d’affaires (le montant total des ventes), jour par jour, du 1er janvier 2019 au 31 décembre 2019. Le résultat sera trié sur la date à laquelle la commande a été passée.
Je rappelle que la requête doit être claire : n’hésitez pas à utiliser les mot clefs AS permettant de nommer les
champs dans SQL.

SELECT<br>
&emsp;date,<br>
&emsp;SUM(prod_price * prod_qty) AS total_sales<br>
FROM<br>
&emsp;`porject.dataset.TRANSACTIONS`<br>
WHERE<br>
&emsp;date BETWEEN '2019-01-01' AND '2019-12-31'<br>
GROUP BY<br>
&emsp;date<br>
ORDER BY<br>
&emsp;date;

# Part 2<br>

Réaliser une requête un peu plus complexe qui permet de déterminer, par client et sur la période allant du 1er janvier 2019 au 31 décembre 2019, les ventes meuble et déco réalisées.

SELECT<br>
&emsp;T.client_id,<br>
&emsp;SUM(T.prod_price * T.prod_qty) AS total_sales,<br>
&emsp;P.product_type<br>
FROM<br>
&emsp;`your_project.your_dataset.TRANSACTIONS` T<br>
JOIN<br>
&emsp;`your_project.your_dataset.PRODUCT_NOMENCLATURE` P<br>
ON<br>
&emsp;T.prod_id = P.product_id<br>
WHERE
&emsp;T.date BETWEEN '2019-01-01' AND '2019-12-31'<br>
&emsp;AND P.product_type IN ('MEUBLE', 'DECO')<br>
GROUP BY<br>
&emsp;T.client_id, P.product_type<br>
ORDER BY
&emsp;T.client_id, P.product_type;